@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.parent{
    display: flex;
    flex-direction: column;
}
.topp{
    min-height: 80px;
    width: 100%;
}
.left-block{
    display:flex;
    border:1px solid rgba(255,255,255,.08);
    border-radius: 18px;
}

.pokemon-info{
    flex:1;
    padding:3rem;
    color:white;
}
.id{
    font-family: 'Bebas Neue', sans-serif ;
    font-weight: 800;
    margin: 0;
    font-size: 1.8rem;
    color:#69758b;
    transform: translateY(1.2rem);
}
.namee{
    font-size:3rem;
    font-family: 'Bebas Neue', sans-serif ;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
}

.types{
    display:flex;
    gap:0.5rem;
    margin-bottom:0.8rem;
}

.types span{
    transform: translateX(-1.6rem);
    padding:0.5rem 1.6rem;
    border-radius:999px;
    font-size:1rem;
    font-weight:800;
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
}

.info-grid{
    display:grid;
    grid-template-columns: repeat(2, minmax(10rem, max-content));
    gap:0.4rem;
}

.info-card{
    /* background:#101f3f; */
    border:1px solid rgba(255,255,255,.08);
    
    border-radius:10px;
    padding:0.8rem;
}

.info-card span{
    display:block;
    font-size:.9rem;
    /* color:#7e93c4; */
        color:#69758b;

    font-family: 'Rajdhani', sans-serif;
    font-weight:700;
    letter-spacing:1px;
    margin-bottom: 0.1rem;
}

.info-card h3{
    margin:0;
    font-size:16px;
    font-weight:600;
    font-family: "Sora", sans-serif;

}
.category{
    text-transform: capitalize;
}

.action-buttons{
    display:flex;
    gap:0.4rem;
    margin-top:0.8rem;
    
}

.action-buttons button{
    width: 10rem;
    padding:0.8rem;
    border-radius:10px;
    cursor:pointer;
    font-weight:700;
}

.team-btn{
    background:transparent;
    border:1px solid #3f5da1;
    color:white;
}

.fav{
    background:transparent;
    border:1px solid #3f5da1;
    color:white;

}
.gender{
    display:flex;
    align-items:center;
    padding-left: 0.3rem;
    gap:0.2rem;
}
.male {
  color: #3B82F6 !important;
}

.female {
  color: #EC4899 !important;
}

.genderless {
  color: #9CA3AF !important;
}
.middle-block{
     width: 550px;      
    
    flex: 0 0 550px; 
    height: 33rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.img{
    height: 20rem;
    position: absolute; 
    z-index: 2;
}
.dynamic{
    position: absolute;
   height: 32rem;
   animation: rotate 8s linear infinite;
   display: block;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.bg-circle{
    position: absolute;
    height: 21rem;
    z-index: 1;
}
.hero-section{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.right-block{
    width: 500px;
}

.stats{
   
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    padding:1.4rem;
    width:100%;
}

.stats h3{
    color:#F5C518;
    font-family:"Rajdhani",sans-serif;
    font-size:1rem;
    font-weight:700;
    letter-spacing:2px;
    margin-bottom:1.4rem;
}

.stat{
    display:grid;
    grid-template-columns:70px 35px 1fr;
    align-items:center;
    gap:1rem;
    margin-bottom:1rem;
}

.stat span:first-child{
    color:#69758b;
    font-family:"Rajdhani",sans-serif;
    font-weight:700;
    font-size:0.9rem;
}

.value{
    color:#F5C518;
    font-family:"Inter",sans-serif;
    font-weight:600;
    text-align:right;
}

.progress{
    height:6px;
    background:#2b3548;
    border-radius:999px;
    overflow:hidden;
}

.fill{
    height:100%;
    border-radius:999px;
    transition:width .8s ease;
}

.hp{
    background:#FFD43B;
}

.attack{
    background:#FF8C1A;
}

.defense{
    background:#00E676;
}

.spatk{
    background:#A855F7;
}

.spdef{
    background:#18C9FF;
}

.speed{
    background:#FF3FA4;
}

.total{
    display:flex;
    justify-content:space-between;
    align-items:end;
    margin-top:1rem;
    padding-top:0.6rem;
    border-top:1px solid rgba(255,255,255,.08);
}

.total span:first-child{
    color:#69758b;
    font-family:"Rajdhani",sans-serif;
    font-weight:700;
    letter-spacing:1px;
}

.total span:last-child{
    color:#FFD43B;
    font-size:1.6rem;
    font-family:"Inter",sans-serif;
    font-weight:700;
}
.weakness-block{
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    width: 100%;
    margin-top: 0.6rem;
    padding-bottom: 1.4rem;
}
.weakness-block h3{
    color:#F5C518;
    font-family:"Rajdhani",sans-serif;
    font-size:1rem;
    font-weight:700;
    letter-spacing:2px;
    margin-bottom:1rem;
    padding-top: 1.8rem;
    padding-left: 1.8rem;
}
.weaknesses{
    display:flex;
    flex-wrap:wrap;
    gap:0.4rem;
    margin-left: 2rem;
}

.weaknesses .type-pill{
    font-weight: 700;
    color: white;
}
.des{
    width: 20rem;
    margin-top: 2rem;
     color:#ffffffa0;
    font-family:"Rajdhani",sans-serif;
    font-weight:700;
}

.topp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.previous{
        color: black;
        margin: 0 60px;
            text-transform: capitalize;
        font-family:"Sora",sans-serif;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
}
.next{
        color: black;
        margin: 0 60px;
        text-transform: capitalize;
        font-family:"Sora",sans-serif;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
}
.previous,
.next{
    padding:.85rem 2rem;
    color:#fff;
    background-color: #18c9ff00;
    border-radius:16px;
    transition:.3s;
    border: 2px solid rgba(255, 255, 255, 0.08);
    box-shadow:
        0 0 15px rgba(77,216,255,.6);
}

.previous:hover,
.next:hover{
    transform:translateY(-3px);
}

.evo-pill{
    height: 4rem;
    width: 24rem;
    border-radius: 999px;
    margin-top: 6rem;
    transform: translateX(-2rem);
    border: 2px solid rgba(255, 255, 255, 0.08);
    box-shadow:
        0 0 15px rgba(77,216,255,.6);
        color: white;
            display: flex;
            align-items: center;
}
.evo-pill h3{
    margin-left: 5rem;
    font-size: 1.8rem;
    font-family: 'Rajdhani', sans-serif;
}
.evolution-chain{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1.8rem;
    margin:5rem 0;
    margin-left:5rem;
    width: fit-content;
    padding: 2rem 2rem;
    flex-wrap:wrap;
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 1.4rem;
    box-shadow:
        0 0 15px rgba(77,216,255,.6);
}

.evo-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor:pointer;
    transition:.3s ease;
}

.evo-card:hover{
    transform:translateY(-6px);
}

.evo-image{
    width:120px;
    height:120px;
    border-radius:22px;
    background:linear-gradient(180deg,#33475d,#24384d);
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:
        inset 0 2px 8px rgba(255,255,255,.08),
        0 10px 25px rgba(0,0,0,.35);
}

.evo-image img{
    width:90%;
    height:90%;
    object-fit:contain;
}

.evo-id{
    margin-top:.8rem;
    color:#89b5d8;
    font-size:.95rem;
    font-weight:700;
    letter-spacing:1px;
    font-family: 'Bebas Neue', sans-serif;

}

.evo-card h3{
    margin:.3rem 0 .7rem;
    color:white;
    font-size:1.1rem;
    text-transform:capitalize;
    font-family: 'Bebas Neue', sans-serif;
}

.evo-types{
    display:flex;
    gap:.5rem;
    flex-direction: column;
}
.evo-types .type-pill {
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}
.evo-arrow{
    font-size:2rem;
    color:#ffd400;
    text-shadow:
        0 0 8px #ffd400,
        0 0 18px #ffd400;
}